<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Echo Space</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <header class="bg-(--header-bg-color) text-white p-4 flex items-center justify-between">
        <div>
            <img src="/assets/logo.png" alt="Echo Space Logo" class="h-10 cursor-pointer" title="Echo Space">
        </div>
        <form action="/search" method="get" class="flex items-center gap-10 relative">
            <input type="text" name="query" placeholder="Search for songs, artists, or albums" required
                class="bg-(--search-bg-color) pl-4 pr-10 py-2 rounded-full text-white focus:outline-none focus:ring-2 focus:ring-blue-500">
            <button type="submit"
                class="absolute right-3 top-1/2 transform -translate-y-1/2 cursor-pointer focus:outline-none">
                <img src="/assets/search.svg" alt="Search" class="h-5">
            </button>
        </form>
        <nav>
            <ul class="flex gap-5 items-center">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><button class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded cursor-pointer">Login</button></li>
            </ul>
        </nav>
    </header>
</body>

</html>