:root {
    --header-bg-color: #191f43;
    --search-bg-color: #1B3C53;
    --nav-link-hover-color: #FFFFFF;
    --main-bg-color: #0a123d;
}
.nav-links{
    position: relative;
    cursor: pointer;
}
.nav-links::before{
    content: "";
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    background-color: var(--nav-link-hover-color);
}
.nav-links::after{
    content: "";
    position: absolute;
    bottom: -3px;
    right: 50%;
    transform: translateX(50%);
    width: 0;
    height: 3px;
    background-color: var(--nav-link-hover-color);
}
.nav-links:hover::before{
    width: 100%;
    transition: width 0.3s ease-in-out;
}
.nav-links:hover::after{
    width: 100%;
    transition: width 0.3s ease-in-out;
}